<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eua Claire's Hair Salon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <nav>
      @Html.ActionLink("Home", "Index", "Home")
      @Html.ActionLink("Stylists", "Index", "Stylists")
      @Html.ActionLink("Clients", "Index", "Clients")
    </nav>
    <main class="container-fluid">
      <h1 class="pt-3">Welcome, Claire</h1>
      <h2 class="pb-3">Eau Claire's Hair Salon - Administration</h2>
      @RenderBody()
    </main>
  </body>
</html>
