@model HairSalon.Models.Stylist;

@{
  Layout = "_Layout";
}

<div class="container">
  <div class="card">
    <h3 class="p-2 border-bottom">Add a new Stylist</h3>

    <div class="container">
      @using (Html.BeginForm())
      {
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @required = "required" })

        <input type="submit" class="btn btn-block btn-info mt-2 mb-2" value="Add Stylist" />
      }
    </div>

  </div>
</div>
