@{
  Layout = "_Layout";
}

<div class="container">
  <div class="card">
    <h3 class="m-2 mb-5 border-bottom">Please select from the following options:</h3>
    <p class="p-2 mb-0">
      @Html.ActionLink("View Stylists", "Index", "Stylists", null, new { @class = "btn btn-lg btn-block btn-info" })
      @Html.ActionLink("View Clients", "Index", "Clients", null, new { @class = "btn btn-lg btn-block btn-info" })
    </p>
  </div>
</div>
