@{
  Layout = "_Layout";
}

<div class="container">
  <div class="card">
    <h5 class="m-2">Please select from the following options:</h5>
    @Html.ActionLink("View Stylists", "Index", "Stylists", null, new { @class = "btn btn-info m-2" })
    @Html.ActionLink("View Clients", "Index", "Clients", null, new { @class = "btn btn-info ml-2 mr-2 mb-2" })
  </div>
</div>
