@model HairSalon.Models.Client;

@{
  Layout = "_Layout";
}

<div class="container">
  <div class="card">
    <h3 class="p-2 border-bottom">Client Details - @Model.Name</h3>
    <div class="container">
      @using (Html.BeginForm())
      {
        @Html.LabelFor(model => model.Name)

        <input type="submit" class="btn btn-lg btn-block btn-danger mt-2 mb-2" value="Permanently Delete Client" />
      }
    </div>
  </div>
</div>
